<div class="container">
  <div class="row">


    <div class="col-md-6">



      <form action="/admin/add-products" method="POST" enctype="multipart/form-data">
      <label for="Name">Name</label>
      <input type="text" name="name" class="form-control">

      <label for="Category">Category</label>
      <input type="text" name="category" class="form-control">

      <label for="description">Description</label>
      <textarea name="description" class="form-control" cols="30" rows="10"></textarea>

      <label for="">Image</label>
      <input type="file" name="Image" class="form-control">

      <button type="submit" class="btn btn-primary mt-3" value="Upload">Upload</button>

      </form>






    </div>

  </div>
</div>